.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.nav-item{
    padding: 14px
}
.nav-link-item{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.nav-link-item:hover {
    text-decoration: none;
   /* border: 1px #97adaa solid;
    border-spacing: 15px 50px;*/
    color:orange
 }


